<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Update ToDo</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
</head>
<body>
<section>
    <header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">ToDoList</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" href="/user/">Home</a>
     
      <a class="mr-5 hover:text-gray-900">
    <form action="/logout" method="post" style="display:inline;">
        
    <button type="submit" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">LogOut
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
    </form>
      </a>
      
    </nav>
  </div>
</header>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-gray-900">Update your record</h1>
      <p class="leading-relaxed mt-4">Poke slow-carb mixtape knausgaard, typewriter street art gentrify hammock starladder roathse. Craies vegan tousled etsy austin.</p>
    </div>
    <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Update the task</h2>
      <form action="#" th:action="@{/user/updateToDo/{id}(id=${todo.id})}" th:object="${todo}" method="post">
	      <div class="relative mb-4">
	        <label for="full-name" class="leading-7 text-sm text-gray-600">Task</label>
	        <input type="text" name="task" th:value="${todo.task}" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
	      </div>
	      <div class="relative mb-4">
	        <label for="email" class="leading-7 text-sm text-gray-600">Priority</label>
	        <input type="text" name="priority" th:value="${todo.priority}"  class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
	      </div>
	      <div class="relative mb-4">
	        <label for="email" class="leading-7 text-sm text-gray-600">Date</label>
	        <input type="date" name="date" th:value="${#dates.format(todo.date, 'yyyy-MM-dd')}"  class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
	      </div>
	      <button type="submit" class="bg-blue-500 text-white p-2 rounded">Update</button>
       	  <a href="/user/" class="bg-gray-500 text-white p-2 rounded">Cancel</a>

	  </form>
    </div>
  </div>
</section>
</body>
</html>
